<ul *ngIf="details">
    <li><b>Organisation:</b> {{details.dep.organisation.name}}</li>
    <li><b>Deployment Type:</b> {{details.dep.deploymentType.name}}</li>
    <li><b>Name:</b> {{details.dep.name}}</li>
    <li><b>Description:</b> {{details.dep.description}}</li>
    <li><b>Created date:</b> {{details.dep.added | date: "dd MMM yyyy @ hh:mm a"}}</li>
    <li><b>Number of users:</b> {{details.users}}</li>
    <li><b>Deployment status:</b> {{details.dep.status}}</li>
    <li><b>Number of devices:</b> {{details.devices}}</li>
    <li><b>Number of locations:</b> {{details.locations}}</li>
    <li><b>Any errors</b> [TODO]</li>
    <li><b>Any warnings</b> [TODO]</li>
</ul>