<div fxLayoutWrap class='container' [dragula]='"first-bag"'>
        <app-deployment-home-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">
    
        </app-deployment-home-card>
        <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Notifications</mat-card>
        <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Data Trends (depends on deployment type)</mat-card>
        <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Health Warnings</mat-card>
        <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Something else</mat-card>
        <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Offline Devices</mat-card>
        <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Simple card</mat-card>
        <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Simple card</mat-card>
        <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Simple card</mat-card>
      </div>
    
    