<div class="row" >
  <div class="col-xs-12 col-sm-6 col-md-4" [dragula]='"first-bag"'>
      <app-deployment-home-card class="home-card" >
          
              </app-deployment-home-card>
              <div class="home-card" >Notifications</div>
              <div class="home-card" >Data Trends (depends on deployment type)</div>
          
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4" [dragula]='"first-bag"'>
      <div class="home-card" >Health Warnings</div>
      <div class="home-card" >Something else</div>
      <div class="home-card" >Offline Devices</div>
    

    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" [dragula]='"first-bag"'>
        <div class="home-card" >Simple card</div>
        <div class="home-card" >Simple card</div>
        <div class="home-card" >Simple card</div>
    
      </div>
</div>

