<div mat-dilog-title>
  Add a new device
</div>
<div mat-dialog-content>
  
The following devices have been enrolled, but not configured<br/>
1<br/>
2<br/>
<button mat-button>Add a different device</button>
<br/>
Select a known make/model<br/>
Add a new make and model (make/model/compatibility)<br/>
Set name, description, location, roles (partial OK)
    <pre>

    
    </pre>
    <app-enrolled-table></app-enrolled-table>
  <div fxLayout="row">
    <div flex="50">
      <mat-form-field>
        <input matInput placeholder="Device ID" [(ngModel)]="device._id" ngDefaultControl>
        <mat-autocomplete #deviceList="matAutocomplete">
          <mat-option>
            some device ID
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix (click)="findDevice()">search</mat-icon>

      </mat-form-field>


      <mat-form-field>
        <input matInput placeholder="Device Path" [(ngModel)]="device.devicePath">
      </mat-form-field>
      {{data.deploymentId}}
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="device.name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)]="device.description">
      </mat-form-field>

      Compatibility Level
      <mat-slider [max]="4" [min]="1" [step]="1" [thumb-label]="true" [tick-interval]="1" [value]="1" [vertical]="false" [(ngModel)]="device.compatibility"></mat-slider>
      {{compatLvl()}}
      <mat-slide-toggle [(ngModel)]="device.active">Make the Device active</mat-slide-toggle>
      <mat-form-field>
        <mat-select [(ngModel)]="device.make" placeholder="Make">
          <mat-option value="1">Set Up Service...</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select [(ngModel)]="device.model" placeholder="Model">
          <mat-option value="1">Set up Service...</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select [(ngModel)]="device.location" placeholder="Location">
          <mat-option value="1">Set up Service &amp; treeview...</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-tab-group *ngIf="device.name">
        <mat-tab label="Sensors">A</mat-tab>
        <mat-tab label="Controllers">B</mat-tab>
        <mat-tab label="Aggregators">C</mat-tab>
        <mat-tab label="Brokers">D</mat-tab>
        <mat-tab label="Coordinator">E</mat-tab>
        <mat-tab label="Others">F</mat-tab>
      </mat-tab-group>
    </div>
    <div flex="50">
  <!--    <app-device-config [(data)]="device"></app-device-config> -->
    </div>
  </div>


</div>
<div mat-dialog-action>
  <button mat-raised-button color="accent" mat-dialog-close>Cancel</button>
</div>
