<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="">First and last name</span>
    </div>
    <input placeholder="First Name" class="form-control" [(ngModel)]="user.firstname" required>
    <input placeholder="Last Name" class="form-control" [(ngModel)]="user.lastname" required>
</div>

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="">Email</span>
    </div>
    <input placeholder="Email Address" class="form-control" [(ngModel)]="user.email" required>
</div>


<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="">Update Password</span><input type="checkbox" aria-label="Change passowrd" [(ngModel)]="updatePass">
    </div>
    <input placeholder="password" class="form-control" [(ngModel)]="user.password" type="password" *ngIf="updatePass">
    <input placeholder="confirm password" class="form-control" [(ngModel)]="user.passwordConfirm" type="password" *ngIf="updatePass">
</div>




<input placeholder="Organisation" class="form-control" [(ngModel)]="user.organisation">