<div *ngIf="stats">
    <mat-expansion-panel #epLocation [expanded]="false">
        <mat-expansion-panel-header>
            Locations ({{stats.locations}})
        </mat-expansion-panel-header>
        <app-locations-tree [deployment]="deployment._id"></app-locations-tree>

    </mat-expansion-panel>
    <mat-expansion-panel #epUsers [expanded]="false">
        <mat-expansion-panel-header>
            Users ({{stats.users}})
        </mat-expansion-panel-header>
        <app-deployment-users-list [deployment]="deployment._id"></app-deployment-users-list>

    </mat-expansion-panel>
</div>