<table class="table">
    <thead>
        <tr>
            <th scope="col">Created</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">My Role</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dep of deployments">
            <th scope="row">{{dep.deployment.added}}</th>
            <td>{{dep.deployment.name}}</td>
            <td>{{dep.deployment.description}}</td>
            <td>{{dep.role.name}}</td>
            <td><button class="btn btn-dark">Details</button></td>
            <td><button class="btn btn-danger">Edit</button></td>
        </tr>

    </tbody>
</table>