  <div fxLayoutWrap class='container' [dragula]='"first-bag"'>
    <app-deployment-home-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">

    </app-deployment-home-card>
    <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Simple card</mat-card>
    <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Simple card</mat-card>
    <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Simple card</mat-card>
    <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Simple card</mat-card>
    <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Simple card</mat-card>
    <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Simple card</mat-card>
    <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Simple card</mat-card>
    <mat-card class="home-card" fxFlex="32%" fxFlex.sm="48%" fxFlex.xs="95%">Simple card</mat-card>
  </div>

