.banner {
    height: 300px;
    text-align: center;
    vertical-align: middle;
    border-width: 8px;
    border-radius: 20px;
    border-color: #000000;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel-danger {
    margin-bottom: 0;
    border-color: #9e0b23;
    margin-bottom: 20px;
    background-color: rgb(122, 8, 8);
    color: #ffffff;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.panel-ok {
    margin-bottom: 0;
    border-color: #1c9e0b;
    margin-bottom: 20px;
    background-color: rgb(8, 122, 52);
    color: #ffffff;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section-top {
    padding-top: 50px;
}

.green {
    color: #00ff00;
}

.bg-grey {
    border-color: #e8e9e8;
    margin: 2px;
    padding: 2px;
    margin-bottom: 10px;
    background-color: rgb(221, 230, 224);
    border: 1px solid transparent;
    border-radius: 12px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}