
&nbsp;
<div class="btn-group" dropdown *ngIf="authenticated.loggedIn">
  <button dropdownToggle type="button" class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle">
    <!-- <mat-icon>face</mat-icon>     -->
            {{user.firstname}}
  </button>
  <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
    <li role="menuitem"><a class="dropdown-item"  routerLink='/profile' routerLinkActive='active'>My Profile</a></li>
    <li role="menuitem"><a class="dropdown-item"  routerLink='/settings' routerLinkActive='active'>Settings</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" routerLink='/logout' routerLinkActive='active'>Log out</a>
    </li>
  </ul>
</div>
<div  *ngIf="!authenticated.loggedIn">
    <button class="nav-link" routerLink='/login'>Login/Register</button>
</div>