<div>
    <app-notification></app-notification>

    <button mat-button  [matMenuTriggerFor]="menu">

        <!-- TODO: Replace this icon with an image, eventually -->
        <mat-icon>face</mat-icon>     
            {{user.firstname}}
    </button>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item routerLink='/profile' routerLinkActive='active'>My Profile</button>
    <button mat-menu-item routerLink='/settings' routerLinkActive='active'>Settings</button>
    <button mat-menu-item routerLink='/logout' routerLinkActive='active'>Log out</button>
</mat-menu>
    </div>